<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyJsp1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index1.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>web</param-name>
    <param-value>ABC</param-value>
  </context-param>
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class> org.servlet.serv </servlet-class>
    <init-param>
      <param-name>servlet</param-name>
      <param-value>abc</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
</web-app>